@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --text-home-heading-small: 28px;
  --leading-home-heading-small: 34px;

  --text-home-heading-large: 48px;
  --leading-home-heading-large: 56px;

  --text-course-details-heading-small: 26px;
  --leading-course-details-heading-small: 36px;

  --text-course-details-heading-large: 36px;
  --leading-course-details-heading-large: 44px;

  --text-default: 15px;
  --leading-default: 21px;

  --grid-auto-fit: repeat(auto-fit, minmax(200px, 1fr));


  --section-height: 500px;
  --course-card-max-width: 424px;
  --course-card-shadow: 0px 4px 15px 2px rgba(0,0,0,0.1);
  
  
}


@import "tailwindcss";

@layer base {
  * {
    font-family: "Outfit", sans-serif;
  }
}

@layer utilities {
  .text-home-heading-small {
    font-size: var(--text-home-heading-small);
    line-height: var(--leading-home-heading-small);
  }

  .text-home-heading-large {
    font-size: var(--text-home-heading-large);
    line-height: var(--leading-home-heading-large);
  }

  .text-course-details-heading-small {
    font-size: var(--text-course-details-heading-small);
    line-height: var(--leading-course-details-heading-small);
  }
  .grid-cols-auto-fit {
    grid-template-columns: var(--grid-auto-fit);
  }

  .text-course-details-heading-large {
    font-size: var(--text-course-details-heading-large);
    line-height: var(--leading-course-details-heading-large);
  }

  .text-default {
    font-size: var(--text-default);
    line-height: var(--leading-default);
  }

  .section-height {
    height: var(--section-height);
  }
  .max-w-course-card {
    max-width: var(--course-card-max-width);
  }

  .shadow-course-card {
    box-shadow: var(--course-card-shadow);
  }

}

@layer base{
  html{
    scroll-behavior:smooth;
  }
}

::-webkit_scrollbar{
  display:none;
}

.rich-text { font-size: 15px; color: #7A7B7D; }

.rich-text p { margin-bottom: 16px; }

.rich-text h1 { font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }